.footerContainer {
  width: 100vw;
  height: 4vh;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerContainer p {
  font-size: 0.9rem;
  margin: 0;
}
